* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #222;
  line-height: 1.6;
}

/* Header */
header {
  background: #111;
  color: white;
  text-align: center;
  padding: 35px 20px;
}

header h1 {
  font-size: 34px;
  margin-bottom: 8px;
}

header p {
  font-size: 17px;
  color: #ccc;
}

/* Navigation */
nav {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 15px 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 25px;
  transition: 0.3s;
}

nav a:hover {
  background: white;
  color: #111;
}

/* Hero */
.hero {
  text-align: center;
  background: white;
  padding: 55px 20px;
}

.hero h2 {
  font-size: 38px;
  margin-bottom: 15px;
}

.hero p {
  color: #777;
  font-size: 20px;
}

/* Search */
.search-box {
  max-width: 650px;
  margin: 35px auto;
  padding: 0 20px;
  display: flex;
  gap: 10px;
}

.search-box input {
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.search-box button {
  padding: 15px 25px;
  background: #111;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Songs */
.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
}

.song-card {
  background: white;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.song-card img {
  width: 100%;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 15px;
}

.song-card h2 {
  font-size: 28px;
  margin: 10px 0;
}

.song-card h3 {
  font-size: 24px;
  margin: 10px 0;
}

.song-card p {
  color: #777;
}

audio {
  width: 100%;
  max-width: 500px;
  margin: 20px 0;
}

.song-card button {
  background: #111;
  color: white;
  border: none;
  padding: 13px 25px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.song-card button:hover {
  background: #444;
}

/* Footer */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 40px;
}

/* Mobile */
@media (max-width: 600px) {

  header h1 {
    font-size: 28px;
  }

  .hero h2 {
    font-size: 28px;
  }

  .hero p {
    font-size: 17px;
  }

  nav {
    flex-direction: row;
  }

  nav a {
    font-size: 14px;
    padding: 8px 12px;
  }

  .search-box {
    flex-direction: column;
  }

  .search-box button {
    width: 100%;
  }

  .song-card img {
    height: 250px;
  }
}
